* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    background-image: url("img/bacground2.png");
    background-size: 1300px;
    background-repeat: no-repeat;
}

h1 {
    font-family: fantasy;
    font-size: 30px;
}
.carImg {
    position: fixed;
    top: 225px;
    padding: 0;
    margin: 0;
    z-index: 1;
}
.car-img {
    width: 800px;
    height: auto;
}

td {
    padding: 4px;
    box-shadow: 0px 0px 10px 0px gray;
    background-color: white;
    
}
.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}
.menu h1 {
    color: white;
    text-align: center;
}
.redmenu {
    background-color: red;
}
.menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 108, 25);
    color: white;
    padding: 10px;
    border-radius: 90px;
    padding: 20px;
}
.sign {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 450px;
    text-align: center;
}
.inner-stats {
    flex-direction: column;
    display: flex;
}
.left {
    display: flex;
    width: 250px;
}
.right {
    display: flex;
    flex-direction: column;
}
.stats {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    justify-content: center;
}
.stats p {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
}
.table {
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.pedestrian {
    width: 120px;
    height: auto;
}
.encounters {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 1000px;
    top: 100px;
    width: 200px;
    padding: 10px;
}
.encounters button{
    padding: 10px;
    font-size: 20px;
}
.encounters p {
    -webkit-text-stroke: 0.5px white;
    color: black;
    font-weight: bolder;
    font-family: impact;
    font-size: 40px;
}
.add-text-bg {
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 5px;
    -webkit-text-stroke: 0 !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: normal !important;
    font-family: arial !important;
}